@import '_news-fonts';


.content_footer{
    width: 100%;
    height: 40px;
    background-color: #b8e1f254;
    display: flex;
    align-items: center;

    .wrap_copyright{
        font-size: 13px;
        color: #88e1f2;
        margin-left: 15px;
        font-family: $font-family;
    }

}