@import '_news-fonts';
.hover{
    color: #303833;
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
   .wrap_nav{
       display: flex;
       margin-top: 15px;
       background-color: #b8e1f254;
       height: 40px;
       width: 100%;

       .nav_links{
           width: 70%;
           display: flex;
           justify-content: space-between;
           align-items: center;
           font-size: 17px;  

           .fa-microphone-alt{
               color: #88e1f2;
               margin-left: 15px;

               &:hover{
                   color: #303833;
                   transform: scale(1.2);
                   transition: ease-in-out 0.2s;
               }
           }
           a{
            color: #B8E1F2;
            text-decoration: none;
            font-family: $font-family;

            &:hover{
                @extend .hover;
            }
           }
       }
       .nav_buttons{
           width: 30%;
           display: flex;
           justify-content: end;
           align-items: center;

           .btn{
               background-color: #30383b7a;
               width: 100px;
               height: 40px;
               border-radius: 25px;
               border: 2px solid #88e1f2;
               font-size: 17px;
               color: #88e1f2;
               margin: 5px;
               margin-right: 15px;

               &:hover{
                   cursor: pointer;
                   transition: ease-in-out 0.3s;
                   color: #4c4c4c;
                   background-color: #b8e1f254;
               }
           }
       }
   }
   .icons{
       width: 100%;
       height: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #b8e1f21a;

       .fab{
           font-size: 25px;
           margin: 15px;
           color:#B8E1F2;

           &:hover{
               @extend .hover;
           }
       }
   }
}
