*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap_nav{
    display: flex;
    margin-top: 15px;
}
    
    .nav_links{
    width: 70%;
    background-color:#b8e1f254;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 40px;
    font-size: 17px;
      
}
    .nav_buttons{
    width: 30%;
    background-color:#b8e1f254;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
}
    
.mic_nav{
    color: #B8E1F2; 
    margin-left: 15px; 
}
    
.mic_nav:hover{
    color: #30383B;
    transform: scale(1.2);
    transition: ease-in-out 0.2s ;
}
    
a{
    color: #B8E1F2;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
}
    
a:hover{
    color: #30383B;
    transform: scale(1.2);
    transition: ease-in-out 0.2s ;
      
}
.btn{
    background-color:#30383b7a;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid #B8E1F2;
    font-family: 'Special Elite', cursive;
    font-size: 17px;
    color: #B8E1F2;
    margin: 5px;
    margin-right: 15px;
}
    
.btn:hover{
    cursor: pointer;
    transition: ease-in-out 0.3s;
    color: #4c4c4c;
    background-color:#b8e1f254;
    border: 1px solid #4c4c4c;
    }
    
    .icons{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #b8e1f21a; 
    }
    
    .fab{
    font-size: 25px;
    margin: 15px;
    color: #B8E1F2;
    }
    
    .fab:hover{
    color: #30383B;
    transform: scale(1.2);
    transition: ease-in-out 0.2s ;
    
}

.slider-wrap {
    display: flex;
    justify-content: center;
}

.slider{
    width: 50%;
    height: 500px;
	position: relative;
	/* width: 50%; */
	background: #2c3e50; /* darkblue */
    margin-top: 5%;
    margin-bottom: 3%;
}
.myslide{
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */


/* 4 */
img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */

.main-text{
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 100%;
    flex-direction: column;
}

.text-cont{
    color: rgb(78, 14, 73);
    font-family: 'Special Elite', cursive;
    
}

.text-cont h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.text-cont p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
}

.price-box{
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(78, 14, 73);
    font-family: 'Special Elite', cursive;
}

.price-box p {
    font-size: 30px;
}
.price-box li {
    font-size: 20px;
    list-style-type: none;
}




.wrap_footer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
  }
  
  .footer{
    width: 100%;
    background-color:#b8e1f254;
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  
  .content_footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
  }
  
  .wrap_copyright{
    width: 75%;
    font-size: 13px;
    color: #B8E1F2;
    margin-left: 15px;
    font-family: 'Special Elite', cursive; 
}